[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
prettytable = "*"
inquirer = "*"
dotenv-config = "*"
mysql-connector-python = "*"
pymysql = "*"
pyfiglet = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
